$color-weixin: #53c919;
$color-weibo: #ff4d4d;
$color-qq: #3991de;

$vi: #000;
$gray: #999;
$border: #E8E8E8;

$fontcn: 'NotoSansHans-Thin', 'Noto Sans SC', 'PingFang SC', 'Microsoft YaHei', 'STSong', 'SimSun', Arial, sans-serif;

$fontcnA: 'Microsoft YaHei', 'PingFang SC', 'STSong', 'SimSun', Arial, sans-serif;

$fontcnB: 'Source Han Sans CN', 'Microsoft YaHei', 'PingFang SC', 'STSong', 'SimSun', Arial, sans-serif;

$font: 'Noto Serif', 'Noto Serif CJK SC', 'Noto Serif CJK', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif', 'source-han-serif-sc', serif;

$fonten: 'SaolDisplay-RegularItalic';


$distance: vw(160, 1920);

$fontSize: 16px;

$colorA: #fff;
$colorB: #000;
$colorC: #D6007F;
$colorD: #595757;
$colorE: #231815;
$colorF: #808080;
$colorG: #4D4D4D;
$colorI: #A9A9AA;

$hover: $colorC;

$fontSize12: 12;
$fontSize14: 14;
$fontSize16: 16;
$fontSize18: 18;
$fontSize20: 20;
$fontSize22: 22;
$fontSize24: 24;
$fontSize26: 26;
$fontSize28: 28;
$fontSize30: 30;
$fontSize32: 32;
$fontSize34: 34;
$fontSize35: 35;
$fontSize36: 36;
$fontSize38: 38;
$fontSize40: 40;
$fontSize46: 46;
$fontSize48: 48;
$fontSize50: 50;
$fontSize59: 59;
$fontSize60: 60;
$fontSize64: 64;
$fontSize74: 74;
$fontSize70: 70;
$fontSize80: 80;
$fontSize84: 84;
$fontSize90: 90;
$fontSize94: 94;
$fontSize96: 96;
$fontSize98: 98;
$fontSize105: 105;
$fontSize100: 100;
$fontSize110: 110;
$fontSize111: 111;
$fontSize112: 112;
$fontSize114: 114;
$fontSize120: 120;
$fontSize130: 130;
$fontSize140: 140;
$fontSize148: 148;
$fontSize160: 160;
$fontSize171: 171;
$fontSize180: 180;
$fontSize250: 250;
$fontSize280: 280;

$Thin: 100;
$ExtraLight: 200;
$Light: 300;
$Normal: 400;
$Medium: 500;
$SemiBold: 600;
$Bold: 700;
$ExtraBold: 800;
$Black: 900;
